- hosts: all
  become: true
  vars:
    container_name: devops-go-app

  tasks:
    - name: Pull Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        source: pull

    - name: Remove existing container
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent

    - name: Run container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}"
        state: started
        restart_policy: unless-stopped
        published_ports:
          - "4444:4444"
