- hosts: target
  become: true
  vars:
    container_name: devops-go-app

  tasks:
    - name: Pull Docker image
      command: docker pull {{ image_name }}

    - name: Stop & remove existing container (if any)
      command: docker rm -f {{ container_name }}
      ignore_errors: true

    - name: Run container
      command: >
        docker run -d
        --name {{ container_name }}
        --restart unless-stopped
        -p 4444:4444
        {{ image_name }}
